
{% include "partial_header.html" %}
  
<body>
  
  <header></header>
  
  <main>
        <h1>{{ title }}</h1>
    {% if desc %}
      <p>{{ desc }}</p>
    {% endif %}
    
    <div class="page-content">
      {{ content|safe }}
    </div>

    <section class="other-pages">
      <h2>Other pages</h2>
      <ul>
        {% for p in root_pages %}
          {% if p.permalink != permalink %}
            <li><a href="{{ p.permalink }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </main>

<% include partial_footer.html %>
</body>
</html>


